<div class="row">
<div class="col-2">
<dx-toolbar [items]="toolbarContent"> </dx-toolbar>
<dx-drawer
    openedStateMode="shrink"
    revealMode="expand"
    [maxSize]="300"
    [(opened)]="isOpened"
    template="drawerTemplate"
    [closeOnOutsideClick]="true"
>
    <div *dxTemplate="let data of 'drawerTemplate'">
        <dx-tree-view
            class="panel-list"
            id="simple-treeview"
            [dataSource]="listMenu"
            (onItemClick)="selectItem($event)"
            dataStructure="tree"
            parentIdExpr="id"
            displayExpr="Autor.Nombre">
        </dx-tree-view>
    </div>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</dx-drawer>

</div>

<div class="col-10">
<br>
<h1>Dashboard Publication</h1>
<div class="container">

<article>
<dx-data-grid [dataSource]="listPublication"
[showColumnLines]="true"
[showRowLines]="true"
[showBorders]="true"
[columnAutoWidth]="true"
(onRowInserting)="onRowInserting($event)"
(onRowUpdating)="onRowUpdating($event)"
(onRowRemoving)="onRowRemoving($event)">
<dxo-paging [pageSize]="10"></dxo-paging>

<dxo-editing
         mode="row"
         [allowUpdating]="true"
         [allowDeleting]="true"
         [allowAdding]="true">
    </dxo-editing>

  <dxi-column dataField="Fecha" caption="Date" dataType="date"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
  <dxi-column dataField="Autor.Nombre" caption="Name Author"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
  <dxi-column dataField="Autor.Apellido" caption="Last Name Author"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
  <dxi-column dataField="Titulo" caption="Title Publication"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
  <dxi-column dataField="Descripcion" caption="Description"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
  <dxi-column dataField="Autor.Correo" caption="Email"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
</dx-data-grid>
</article>
</div>
</div>

</div>
